.title {
  padding-left: -2rem;
}

.title > span {
  margin-right: 2rem;
  font-size: 120%;
}

.title > span:last-child {
  margin-right: 0;
}

.links {
  padding-left: -1rem;
  font-size: 90%;
}

.links > a, .links > strong {
  margin-right: 1rem;
}

.links > a.secondary, .links > strong.secodary {
  margin-right: 0;
  margin-left: 1rem;
  float: right;
}

.links > strong {
  text-shadow: 0 0 0.5rem #999;
}
