{
  "presets": ["es2015", "react", "stage-1"],
  "plugins": [
    ["react-intl", {
        "messagesDir": "./tmp/messages/",
        "enforceDescriptions": false
    }],
    "transform-object-assign",
    "transform-flow-strip-types",
    "transform-react-inline-elements"
  ]
}
