{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    ["formatjs", {
      "ast": true
    }],
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-runtime",
    ["prismjs", {
      "languages": [
        "arduino",
        "bash",
        "bison",
        "cpp",
        "csharp",
        "css",
        "cshtml",
        "go",
        "groovy",
        "haskell",
        "java",
        "javascript",
        "kotlin",
        "markdown",
        "pascal",
        "php",
        "prolog",
        "python",
        "rust",
        "scala",
        "sql",
        "typescript"
      ],
      "theme": "default",
      "css": true
    }]
  ],
  "env": {
    "production": {
      "plugins": []
    }
  }
}
