{
  "parser"  : "babel-eslint",
  "extends" : "eslint:recommended",
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "Promise"      : false,
    "global"       : false,
    "__dirname"    : false,
    "module"       : false,
    "process"      : false,
    "require"      : false,
    "Reflect"      : false
  },
  "rules": {
    "semi" : [2, "always"],
    "no-unused-vars": [0],
    "no-console": [0],
    "max-len": [2, 120, 2]
  }
}
