{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/default": 2,
    "import/no-duplicates": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-deprecated": 2,
    "import/no-unresolved": 2,
    "import/no-named-as-default": 2,
    "react/no-did-update-set-state": 0,
    "react/display-name": 0,
#    "indent": [
#      2,
#      2,
#      {
#        "SwitchCase": 1
#      }
#    ],
    "quotes": [
      2,
      "single"
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "no-console": 1,
    "no-unused-vars": 2,
    "no-alert": 2,
    "no-labels": 2,
    "babel/semi": [
      2,
      "always"
    ],
    "standard/computed-property-even-spacing": 0,
    "space-before-function-paren": 0
  },
  "plugins": [
    "react",
    "import",
    "babel"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    },
    "import/ignore": [
      "node_modules",
      ".less$"
    ],
    "react": {
      "version": 16.2.0
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "__dirname": true
  }
}
