node_modules
node_modules/.bin/*
.DS_Store
public/bundle.js
public/bundle.js.map
public/
bin/*.jpg
bin/*.css
bin/server.js
bin/server.js.map
tmp
build
npm-debug.log
.env
.vscode
prod/
package-lock.json

/run_server.bat
/run_export_strings.bat
/etc/env.json
