.pipeline svg {
  max-width: 100%;
}

.pipeline svg .graph > polygon {
  fill: transparent;
}

.pipeline svg .cluster {
  cursor: pointer;
}

.pipeline svg .cluster,
.pipeline svg .cluster[id^="B-"] > polygon {
  transition: all 0.15s ease-in-out;
}

.pipeline svg .cluster[id^="B-"]:hover > polygon {
  fill: #fffdf8;
}

.pipeline svg .cluster[id^="I-"],
.pipeline svg .cluster[id^="O-"],
.pipeline svg .node {
  pointer-events: none;
}
