.notification {
  position: relative;
}

.badgeContainer {
  position: absolute;
  right: 10px;
  top: 8px;
  margin-top: 0px;
}

.copy,
.copy:visited {
  color: black;
}

.copy:hover {
  color: orange;
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

@keyframes notificationShowdown {
  0% {
    background-color: white;
  }
  50% {
    background-color: #ffcccc;
  }
  100% {
    background-color: white;
  }
}

.newNotification {
  animation: notificationShowdown 2s linear 0.5s;
}
