.dropdownMenu {
  width: 42vw !important;
  min-width: 400px !important;
}

.messageList {
  max-height: 80vh !important;
}

.messageAlert {
  margin-bottom: 0px;
  border-radius: 0px !important;
  border-style: none;
}
