.dropdownMenu {
  width: 70vw !important;
	min-width: 400px !important;
}

.messageList {
	max-height: calc(100vh - 100px) !important;
}

.messageAlert {
  margin-bottom: 0px;
  border-radius: 0px !important;
  border-style: none;
}
