pre.codeFragments {
  line-height: 1.5;
  overflow: hidden;

  span.clickable {
    cursor: pointer;
  }

  span.selectable {
    padding: 0.125em 0;
    background-color: #ffc;
    border: 1px dotted #c90;
  }

  span.overlap {
    background-color: #ff8;
  }

  span.overlapMore {
    background-color: #ff5;
  }

  span.selected {
    background-color: #bf7;
  }
}