.react-toggle {
  transform: scale(0.8);
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--bs-success);
}

.text-warning .react-toggle .react-toggle-thumb:not(:hover) {
  border-color: var(--bs-warning);
}

.text-warning .react-toggle--checked .react-toggle-track {
  background-color: var(--bs-warning);
}

.text-danger .react-toggle .react-toggle-thumb:not(:hover) {
  border-color: var(--bs-danger);
}

.text-danger .react-toggle--checked .react-toggle-track {
  background-color: var(--bs-danger);
}

.onOffCheckboxLabel {
  cursor: pointer;
  margin: 0 !important;
  white-space: nowrap;
}

.onOffCheckboxLabelDisabled {
  cursor: not-allowed;
  color: gray;
  margin: 0 !important;
  white-space: nowrap;
}

.onOffCheckboxLabelText {
  display: inline-block;
  vertical-align: top;
  padding: 0.15rem 0.2rem;
  line-height: 1.2;
  white-space: normal;
  width: calc(100% - 40px);
}
