{
  "PORT": 8080,
  "API_BASE": "https://recodex.base.domain/api/v1",
  "TITLE": "ReCodEx",
  "SKIN": "skin-green",
  "URL_PATH_PREFIX": "",
  "PERSISTENT_TOKENS_KEY_PREFIX": "recodex",
  "ENVIRONMENTS_INFO_URL": "https://github.com/ReCodEx/wiki/wiki/Runtime-Environments",
  "ALLOW_LOCAL_REGISTRATION": false,
  "EXTERNAL_AUTH_URL": "https://some.other.domain/cas/",
  "EXTERNAL_AUTH_SERVICE_ID": "id-from-core-api",
  "EXTERNAL_AUTH_NAME": {
    "cs": "Univerzitní CAS",
    "en": "University CAS"
  },
  "EXTERNAL_AUTH_HELPDESK_URL": "mailto:cas@some.other.domain"
}
