{
  "PORT": 8080,
  "API_BASE": "https://recodex.base.domain/api/v1",
  "TITLE": "ReCodEx",
  "SKIN": "skin-green",
  "ALLOW_NORMAL_REGISTRATION": false,
  "ALLOW_LDAP_REGISTRATION": false,
  "ALLOW_CAS_REGISTRATION": true
}
