{
  "PORT": 8080,
  "API_BASE": "https://recodex.base.domain/api/v1",
  "TITLE": "ReCodEx",
  "SKIN": "skin-green",
  "ALLOW_NORMAL_REGISTRATION": false,
  "ALLOW_LDAP_REGISTRATION": false,
  "ALLOW_CAS_REGISTRATION": false,
  "URL_PATH_PREFIX": "",
  "PERSISTENT_TOKENS_KEY_PREFIX": "recodex",
  "CAS_HELPDESK_URL": "mailto:recodex@example.domain"
}
