.preview {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 2em;
  border-radius: 0.25rem;
}

.previewEmpty {
  color: #888;
  font-size: 80%;
  font-style: italic;
  text-align: center;
  padding-bottom: 0.75rem;
}
