.memberGroupsDropdownContainer {
  position: relative;
  width: 100%;
}

.memberGroupsDropdownToggle {
  position: absolute !important;
  width: 100%;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  cursor: pointer;
}

.memberGroupsDropdownContainer .dropdown-item {
  font-size: 90%;
}

.memberGroupsDropdownContainer .dropdown-item a {
  color: inherit;
  background-color: inherit;
}

.memberGroupsDropdownContainer .dropdown-menu {
  padding-top: 0;
  max-height: calc(98vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

.memberGroupsDropdownContainer .dropdown-header {
  text-align: left;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: #ddd;
}

.memberGroupsDropdownContainer .dropdown-header:first-of-type {
  padding-top: 0.3rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;  
}