.verticalText {
  display: inline-block;
  overflow: hidden;
  width: 1.2em;
}

.verticalText > div {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.2;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0;
}

.verticalText > div:after {
  content: "";
  display: block;
  margin: -1.2em 0 100%;
}

.bonusPoints {
  color: green;
}

.malusPoints {
  color: red;
}

.maxPointsRow {
  font-size: 80%;
  font-weight: normal;
  color: #666;
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  white-space: nowrap;
}

.maxPointsRow:first-of-type {
  text-align: left;
}

.downloadButton {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

td.pointsCell {
  position: relative;
}

td.pointsCell .accepted {
  position: absolute;
  bottom: 15%;
  right: 12%;
  height: 25%;
  opacity: 0.3;
}
