@import '../../../node_modules/font-awesome-animation/css/font-awesome-animation.min.css';

/*
 * Global shared repository of additional CSS styles.
 * Primarily, styles should be created by the means of Bootstrap and AdminLTE,
 * these styles tend to cover other ReCodEx-specific situations.
 */

@media (max-width: 767px) {
  :root {
    font-size: 85%;
  }
}

@media (max-width: 575px) {
  :root {
    font-size: 70%;
  }
}

a {
  text-decoration: none;
}

/*
 * Additional text modifications
 */

.larger {
  font-size: 120%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.tag-margin {
  margin: 2px;
  display: inline-block;
}

/*
 * Padding Configurations
 */

td.shrink-col,
th.shrink-col {
  width: 0 !important;
  white-space: nowrap !important;
}

.full-width-modal div.modal-dialog {
  max-width: 95vw;
}

.third-width {
  width: 33%;
}

.two-third-width {
  width: 66%;
}

/*
 * Misc
 */

.half-gray {
  filter: grayscale(50%);
}

.clickable {
  cursor: pointer;
}

table.table-hover td.clickable:hover,
table.table-hover th.clickable:hover,
table.table.tbody-hover tbody:hover td,
table.table.tbody-hover tbody:hover th {
  background-color: #e0e0f0;
}

table .selected td,
table .selected th,
table td.selected,
table th.selected {
  background-color: #bfb;
}

table.table-hover .selected td.clickable:hover,
table.table-hover .selected th.clickable:hover,
table.table-hover td.clickable.selected:hover,
table.table-hover th.clickable.selected:hover,
table.table.tbody-hover tbody:hover .selected td,
table.table.tbody-hover tbody:hover .selected th,
table.table.tbody-hover tbody:hover td.selected,
table.table.tbody-hover tbody:hover th.selected {
  background-color: #b0ddb0;
}


.timid {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.timid:hover {
  opacity: 1.0;
}

.comma-separated + .comma-separated::before {
  content: ", ";
}

.recodex-markdown-container pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1);
}

/*
 * AdminLTE Enhancements and Overrides
 */

:root {
  --bs-box-shadow-sm: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1)
}

.app-header {
  position: sticky;
  top: 0;
}

.img-circle { /* removed in 3.2->4.0 migration, back patch */
  border-radius:50%;
}

/* fixing Datetime form input for input group appends and prepends */
.input-group > .rdt {
  flex: 1 1 auto;
}

button:focus {
  filter: contrast(120%) brightness(80%);
  outline: 3px solid #6af!important;
}

a:focus {
  filter: contrast(120%) brightness(80%);
  text-shadow: 1px 1px 3px #666;
  outline: 0;
}

@keyframes card-target {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 240, 96, 0);
  }
  1% {
    box-shadow: 0 0 0 0 #fd6;
  }
  80% {
    box-shadow: 0 0 50px 20px rgba(255, 240, 96, 0);
  }
  100% {
    box-shadow: 0 0 5px 2px rgba(255, 240, 96, 0);
  }
}

.card:target {
  /*box-shadow: 0 0 5px 2px #fd6!important;*/
  animation: 3s ease infinite running card-target;
  border-color: #ed3 !important;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}


.whenTargetted {
  display: none;
}

:target .whenTargetted {
  display: initial;
}

.card-body > .table-responsive > .table {
  margin-bottom: 0;
}

/*
 * Bootstrap Enhancements
 */
code {
  color: #072;
}

.recodex-markdown-container code {
  white-space: pre-wrap;
}

.recodex-markdown-container code:not(pre > code) {
  color: #072;
}

.wider-tooltip {
  width: 300px;
}

.wider-tooltip>.tooltip-inner {
  max-width: 300px;
}

.tooltip-inner code {
  color: #bfb;
}

.btn-xs {
  --bs-btn-padding-y: 0.125rem;
  --bs-btn-padding-x: 0.25rem;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}

.btn.active {
  font-weight: bold;
}

.btn-warning.active, .btn-warning:active {
  filter: brightness(96%);
}

table.table tbody:first-child tr:first-child td,
table.table tbody:first-child tr:first-child th {
  border-top: 0;
}

.accordion > .card {
  margin-bottom: 0;
}

.callout {
  border-left-width: 50px;
  position: relative;
}

.callout .callout-icon {
  position: absolute;
  left: -25px;
  top: 50%;
  background-color: transparent !important;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.callout.large-icon {
  border-left-width: 100px;
}
.callout.large-icon .callout-icon {
  left: -50px;
  top: 50%;
  background-color: transparent !important;
  font-size: 48px;
  transform: translate(-50%, -50%);
}

select.form-control.is-invalid, .was-validated select.form-control:invalid { /* selectbox needs to have the error icon moved */
  background-position-x: right 1.2rem;
}

/*
 * ACE Editor Overrides
 */
.noselection .ace_marker-layer .ace_selection {
  background: transparent !important;
}

.noselection .ace_cursor {
  color: transparent !important;
}

/*
 * react-collapse additional styles for animation
 */
.ReactCollapse--collapse {
  transition: height 500ms;
}

/*
 * React Diff Viewer fixes
 */
.diff-wrapper pre {
  padding: 0;
}

/******************************************************************************/
/* Radio Input Styling                                                        */
/* Taken from W3Schools and adapted for our use case...                       */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp              */
/******************************************************************************/

 /* Customize the container of the radio input */
 .radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 2px 0;
}

/* Remove default label margin and paddings */
.radio-container label {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a gray background color */
.radio-container label:hover input ~ .radiomark {
  background-color: #ccc;
  box-shadow: #fe9 0 0 0.4em 0.1em;
}

/* When the radio button is checked, add a green background */
.radio-container label input:checked ~ .radiomark {
  background-color: var(--success);
}

/* On mouse-over, when the radio button is checked, add a darker green background */
.radio-container label:hover input:checked ~ .radiomark {
  box-shadow: #fe9 0 0 0.4em 0.1em;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radiomark:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eee;
}

