@import '../../../node_modules/font-awesome-animation/dist/font-awesome-animation.min.css';

/*
 * Global shared repository of additional CSS styles.
 * Primarily, styles should be created by the means of Bootstrap and AdminLTE,
 * these styles tend to cover other ReCoVid-specific situations.
 */

/*
 * Additional text modifications
 */

.larger {
  font-size: 120%;
}

.text-bold {
  font-weight: bold !important;
}

/*
 * Margin Configurations
 */

.em-margin {
  margin: 1em !important;
}

.em-margin-horizontal {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.em-margin-vertical {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.em-margin-left {
  margin-left: 1em !important;
}

.em-margin-right {
  margin-right: 1em !important;
}

.em-margin-top {
  margin-top: 1em !important;
}

.em-margin-bottom {
  margin-bottom: 1em !important;
}

.halfem-margin {
  margin: 0.5em !important;
}

.halfem-margin-horizontal {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.halfem-margin-vertical {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.halfem-margin-left {
  margin-left: 0.5em !important;
}

.halfem-margin-right {
  margin-right: 0.5em !important;
}

.halfem-margin-top {
  margin-top: 0.5em !important;
}

.halfem-margin-bottom {
  margin-bottom: 0.5em !important;
}

.no-margin {
  margin: 0 !important;
}

.tag-margin {
  margin: 2px;
  display: inline-block;
}

/*
 * Padding Configurations
 */

.em-padding {
  padding: 1em !important;
}

.em-padding-horizontal {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.em-padding-vertical {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.em-padding-left {
  padding-left: 1em !important;
}

.em-padding-right {
  padding-right: 1em !important;
}

.em-padding-top {
  padding-top: 1em !important;
}

.em-padding-bottom {
  padding-bottom: 1em !important;
}

.halfem-padding {
  padding: 0.5em !important;
}

.no-padding {
  padding: 0 !important;
}

td.shrink-col,
th.shrink-col {
  width: 0 !important;
  white-space: nowrap !important;
}

.full-width {
  width: 100%;
}

/*
 * Alignment
 */

.valign-top {
  vertical-align: top !important;
}

.valign-middle {
  vertical-align: middle !important;
}

.valign-bottom {
  vertical-align: bottom !important;
}

/*
 * Opacity, transparency, ...
 */

.half-opaque {
  opacity: 0.5 !important;
}

.almost-transparent {
  opacity: 0.2 !important;
}

.almost-opaque {
  opacity: 0.8 !important;
}

/*
 * Misc
 */
.clickable {
  cursor: pointer;
}

table.table-hover td.clickable:hover, table.table-hover th.clickable:hover {
  background-color: #eeeeee;
}

.timid {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.timid:hover {
  opacity: 1.0;
}


/*
 * AdminLTE Boxes
 */

.box-body>.table-responsive>.table {
  margin-bottom: 0;
}

/*
 * Bootstrap tooltip enhancments
 */
.wider-tooltip {
  width: 300px;
}

.wider-tooltip>.tooltip-inner {
  max-width: 300px;
}


/*
 * ACE Editor Overrides
 */
.noselection .ace_marker-layer .ace_selection {
  background: transparent !important;
}

.noselection .ace_cursor {
  color: transparent !important;
}

/******************************************************************************/
/* Radio Input Styling                                                        */
/* Taken from W3Schools and adapted for our use case...                       */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp              */
/******************************************************************************/

 /* Customize the container of the radio input */
 .radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
}

/* Remove default label margin and paddings */
.radio-container label {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container label:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the radio button is checked, add a green background */
.radio-container label input:checked ~ .radiomark {
  background-color: #00a65a;
}

/* On mouse-over, when the radio button is checked, add a darker green background */
.radio-container label:hover input:checked ~ .radiomark {
  background-color: #008d4c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radiomark:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eee;
}

/******************************************************************************/
