.smallGapLeft {
  margin-left: 0.25em;
}

.smallGapRight {
  margin-right: 0.25em;
}

.gapLeft {
  margin-left: 0.5em;
}

.gapRight {
  margin-right: 0.5em;
}

.largeGapLeft {
  margin-left: 1em;
}

.largeGapRight {
  margin-right: 1em;
}

.disabled {
  opacity: 0.2 !important;
  cursor: not-allowed !important; 
}