.smallGapLeft {
  margin-left: 0.25em;
}

.smallGapRight {
  margin-right: 0.25em;
}

.gapLeft {
  margin-left: 0.5em;
}

.gapRight {
  margin-right: 0.5em;
}

.largeGapLeft {
  margin-left: 1em;
}

.largeGapRight {
  margin-right: 1em;
}

.timid {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.timid:hover {
  opacity: 1.0;
}

.clickable {
  cursor: pointer;
}
