name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: ['20', '22']
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn
    - run: corepack enable
    - run: yarn install
    - run: yarn test

  lint:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: ['20', '22']
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn
    - run: corepack enable
    - run: yarn install
    - run: yarn lint
