.sourceCodeViewer {
  margin: 0;
  padding: 0;

}

.sourceCodeViewer span[data-line] {
  display: block;
  line-height: 25px;
}

.sourceCodeViewer span[data-line] .linenumber {
  margin-right: 0.25rem;
  background-color: #e0e0e0;
  text-align: right;
  min-width: 5em!important;
  text-shadow: none;
  color: #666;
}

.sourceCodeViewer span[data-line]:hover, .sourceCodeViewer span[data-line]:hover * {
  background-color: #f3f3f3;
}

.sourceCodeViewer span[data-line]:hover .linenumber {
  background-color: #d0d0d0;
}

.sourceCodeViewer span[data-line-active] {
  background-color: #ff9;
}

.sourceCodeViewer span[data-line-active] .linenumber {
  background-color: yellow;
}

.sourceCodeViewer span[data-line-active]:hover, .sourceCodeViewer span[data-line-active]:hover * {
  background-color: #e0e088;
}

.sourceCodeViewer span[data-line-active]:hover .linenumber {
  background-color: #dd0;
}

.sourceCodeViewerComments {
  background-color: #f7f7f7;
  font-family: var(--font-family-sans-serif);
  padding: 0.2em;
  white-space: initial;
}

pre .sourceCodeViewerComments, code .sourceCodeViewerComments {
  font-size: 127%;
}

.sourceCodeViewerComments > div {
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  position: relative;
}

.sourceCodeViewerComments > div.issue {
  background-color: #fff4f4;
}

.sourceCodeViewerComments > div.commentForm {
  background-color: #fffff0;
}

.sourceCodeViewerComments > div:nth-of-type(2) {
  margin-top: 0.2em;
}

.sourceCodeViewerComments > div > .icon {
  position: absolute;
  top: 2.8em;
  left: 0.5em;
}

.sourceCodeViewerComments .actions {
  line-height: 20px;
  margin-left: 1.5em;
  vertical-align: middle;
}


/* Markdown overrides */

.sourceCodeViewerComments > div > .recodex-markdown-container {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem 0 28px;
  border-top: 1px solid #f0f0f0;
}

.sourceCodeViewerComments > div.issue > .recodex-markdown-container {
  border-top-color:#f9e0e0;
}

.sourceCodeViewerComments > div > .recodex-markdown-container p {
  margin-bottom: 0.5rem;
}

.sourceCodeViewerComments > div > .recodex-markdown-container p:last-child {
  margin-bottom: 0.2rem;
}

/* Overrides for review summary which is slightly different... */
.reviewSummary > div > .recodex-markdown-container {
  padding-left: 0.5rem;
}

.reviewSummary > div > .icon {
  position: static;
  margin: 0 0.5em;
}


/* Special add button */
.sourceCodeViewer .scvAddButton {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  display: block;
  margin: 0;
  padding: 0;
  position:relative;
}

.sourceCodeViewer.addComment *:hover + .scvAddButton::before, .sourceCodeViewer.addComment .scvAddButton:hover::before {
  content: '+';
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  width: 21px;
  height: 21px;
  color: #ddf;
  background-color: #77c;
  position: absolute;
  top: -23px;
  left: 3.2em;
  border-radius: 5px;
  text-shadow: none;
  cursor: pointer;
  opacity: 0.7;
}

.sourceCodeViewer.addComment .scvAddButton:hover::before {
  opacity: 1;
}